/******************** Set background to Body ********************/
html,
body {
    background-color: #F5F5F7;
}


/******************** Add font to all element ********************/
* {
    font-family: 'IranYekan';
    font-weight: normal;
}


/******************** Disable text decoration for all link ********************/
a {
    text-decoration: none !important;
}


/******************** Direction ltr for all phone number ********************/
.phone-number {
    direction: ltr;
}


/******************** Cutsome bootstrap4 style ********************/
@media (min-width: 576px) {

    .container {
        padding: 0;
    }
}

.card {
    border: none;
    border-radius: 5px;
    padding: 30px;
    background-color: #fff;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.rounded {
    border-radius: 5px !important;
}

input,
textarea {
    border: solid 1px #eee !important;
    border-radius: 5px !important;
}

input:focus,
textarea:focus {
    border: solid 1px #85d4ff !important;
}

button {
    border: solid 2px transparent;
}

button:focus {
    box-shadow: 0 10px 20px rgba(38, 158, 222, .3) !important;
    color: #333333;
}


/******************** Cutsome placeholder ********************/
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #D2D2D7 !important;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #D2D2D7 !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #D2D2D7 !important;
}


/******************** Cutsome scrollbar ********************/
* {
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #bbb #fff;
}

*::-webkit-scrollbar {
    /* Chrome, Opera */
    width: 8px;
}

*::-webkit-scrollbar-track {
    /* Chrome, Opera */
    background: #fff;
}

*::-webkit-scrollbar-thumb {
    /* Chrome, Opera */
    background-color: #bbb;
    border: 1px solid #fff;
}


/******************** Preloader style ********************/
#preloader {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff !important;
}

.animation {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/******************** Scroll to top button style ********************/
.progress-wrap {
    position: fixed;
    right: 40px;
    bottom: 40px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px #ebebeb;
    background-color: #fff;
    z-index: 9998;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.progress-wrap::after {
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f062';
    text-align: center;
    line-height: 46px;
    font-size: 18px;
    color: #85d4ff;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap:hover::after {
    opacity: 0;
}

.progress-wrap::before {
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f062';
    text-align: center;
    line-height: 46px;
    font-size: 18px;
    opacity: 0;
    color: #63C2F5;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap:hover::before {
    opacity: 1;
}

.progress-wrap svg path {
    fill: none;
}

.progress-wrap svg.progress-circle path {
    stroke: #63C2F5;
    stroke-width: 4;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}


/******************** Disable outline on every item in bootstrap ********************/
a:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input:focus,
[contenteditable].form-control:focus {
    box-shadow: inset 0 0 0 0 #ddd !important;
}


/******************** Font weight custom added ********************/
.text-thin {
    font-weight: 100;
}

.text-light {
    font-weight: 300;
}

.text-regular {
    font-weight: normal;
}

.text-medium {
    font-weight: 500;
}

.text-bold {
    font-weight: bold;
}

.text-extrabold {
    font-weight: 800;
}

.text-black {
    font-weight: 850;
}

.text-extrablack {
    font-weight: 900;
}


/******************** Text size custom added ********************/
.text-size-70 {
    /* 70px */
    font-size: 70px;
}

.text-size-40 {
    /* 40px */
    font-size: 2.5rem;
}

.text-size-32 {
    /* 32px */
    font-size: 2rem;
}

.text-size-26 {
    /* 26px */
    font-size: 1.625rem;
}

.text-size-22 {
    /* 22px */
    font-size: 1.375rem;
}

.text-size-18 {
    /* 18px */
    font-size: 1.125rem;
}

.text-size-16 {
    /* 16px */
    font-size: 1rem;
}

.text-size-14 {
    /* 14px */
    font-size: 0.875rem;
}

.text-size-12 {
    /* 12px */
    font-size: 0.75rem;
}

.text-size-10 {
    /* 10px */
    font-size: 0.625rem;
}

.text-size-8 {
    /* 8px */
    font-size: 0.5rem;
}


/******************** animation for dropdown ********************/
.dropdown .dropdown-menu {
    border: solid 1px #ededed;
    border-radius: 5px;
}

.dropdown-item:active {
    background-color: #eeeeee;
    color: #bbb;
}


/******************** Change navbar link colors ********************/
.navbar-nav .nav-link {
    color: #fff !important;
}


/******************** Change footer nav link colors ********************/
.footer-nav .nav-link {
    -webkit-transition: all .3s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    color: #454546 !important;
    padding: 8px 0;
}

.footer-nav .nav-item {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    border-left: solid 2px transparent;
}

.footer-nav .nav-item:hover {
    border-left: solid 2px #63C2F5;
    background-color: #eee;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footer-nav .nav-item:hover .nav-link {
    transform: translateX(15px);
}


/******************** Start work button on header with glowing animation ********************/
.start-button {
    -webkit-animation: glowing 1700ms infinite;
    -moz-animation: glowing 1700ms infinite;
    -o-animation: glowing 1700ms infinite;
    animation: glowing 1700ms infinite;
}


/******************** Glowing animation keyframes ********************/
@-webkit-keyframes glowing {
    0% {
        box-shadow: 0 0 3px #1D2025;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    50% {
        box-shadow: 0 0 20px #1D2025;
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        box-shadow: 0 0 3px #1D2025;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes glowing {
    0% {
        box-shadow: 0 0 3px #1D2025;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    50% {
        box-shadow: 0 0 20px #1D2025;
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        box-shadow: 0 0 3px #1D2025;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@-o-keyframes glowing {
    0% {
        box-shadow: 0 0 3px #1D2025;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    50% {
        box-shadow: 0 0 20px #1D2025;
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        box-shadow: 0 0 3px #1D2025;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 3px #1D2025;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    50% {
        box-shadow: 0 0 20px #1D2025;
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        box-shadow: 0 0 3px #1D2025;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}


/******************** Menu icon animated ********************/
#Menu-icon {
    width: 33px;
    height: 24px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#Menu-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #646464;
    border-radius: 50rem;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#Menu-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#Menu-icon span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#Menu-icon span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#Menu-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 10px;
}

#Menu-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#Menu-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 23px;
    left: 10px;
}


/**************************************** Wrapper is main section of content ****************************************/
.wrapper {
    padding-top: 56px;
}


/**************************************** Top swiper ****************************************/
.top-swiper {
    margin-top: 20px !important;
    border-radius: 5px;
}


/**************************************** Custom background for all swiper sliders ****************************************/
.swiper-container {
    direction: ltr;
    background-color: #fff;
}


/**************************************** Custom img border radius for all swiper sliders ****************************************/
.swiper-container img {
    width: 100% !important;
    border-radius: 5px;
}


/**************************************** Custom pagination for all swiper sliders ****************************************/
.swiper-container .swiper-pagination-bullet {
    background-color: #FFFFFF;
    opacity: 1;
    height: 5px;
    width: 5px;
}

.swiper-container .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    background-color: #FFFFFF;
    border: solid 2px #269EDE;
}


/**************************************** Custom Arrows for all swiper sliders ****************************************/
.swiper-container .swiper-button-next {
    position: absolute;
    right: 0;
}

.swiper-container .swiper-button-prev {
    position: absolute;
    left: 0;
}

.swiper-container .swiper-button-next::after {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f054';
    font-size: x-large;
    padding: 25px 15px;
    background-color: #FFFFFF;
    opacity: .8;
    color: #454546;
}

.swiper-container .swiper-button-prev::after {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f053';
    font-size: x-large;
    padding: 25px 15px;
    background-color: #FFFFFF;
    opacity: .8;
    color: #454546;
}


/******************** style for card in services ********************/
.card-blue {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.card-blue h2,
.card-blue p {
    color: #454546;
}

.card-blue:hover {
    background: rgb(99, 194, 245) !important;
    box-shadow: 0 10px 20px rgba(38, 158, 222, .5);
}

.card-blue:hover h2,
.card-blue:hover p {
    color: #fff;
}


/******************** style for card in customers section ********************/
.card-customer {
    width: 200px;
    margin: 0px 10px 20px;
}

.card-customer img {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/******************** Add Start work footer rounded ********************/
.Start-work-footer {
    border-radius: 5px;
}


/**************************************** All color in this site ****************************************/
/******************** Custom background color ********************/
.bg-header {
    background-color: #313132;
}

@supports (-webkit-backdrop-filter: none) or (-moz-backdrop-filter: none) or (-ms-backdrop-filter: none) or (-o-backdrop-filter: none) or (backdrop-filter: none) {
    .bg-header {
        -webkit-backdrop-filter: blur(10px);
        -moz-backdrop-filter: blur(10px);
        -ms-backdrop-filter: blur(10px);
        -o-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(49, 49, 50, .95);
    }
}

.bg-gray {
    background-color: #545454 !important;
}

.bg-gray-2 {
    background-color: #D2D2D7 !important;
}

.bg-blue {
    background: rgb(99, 194, 245);
    background: -moz-linear-gradient(135deg, rgba(99, 194, 245, 1) 0%, rgba(38, 158, 222, 1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(99, 194, 245, 1) 0%, rgba(38, 158, 222, 1) 100%);
    background: linear-gradient(135deg, rgba(99, 194, 245, 1) 0%, rgba(38, 158, 222, 1) 100%);
}

.bg-light {
    background-color: #fbfbfb !important;
}


/******************** Custom front color ********************/
.text-ld {
    color: #fff !important;
}

.text-blue {
    color: #63C2F5 !important;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

a.text-blue:hover {
    color: #1ea3eb !important;
}

.text-dark {
    color: #454546 !important;
}

.text-gray {
    color: #A6A6A6 !important;
}

.text-gradient-blue {
    /* Fallback: Set a background color. */
    background-color: #63C2F5;

    /* Create the gradient. */
    background-image: -moz-linear-gradient(135deg, rgba(99, 194, 245, 1) 0%, rgba(38, 158, 222, 1) 100%);
    background-image: -webkit-linear-gradient(135deg, rgba(99, 194, 245, 1) 0%, rgba(38, 158, 222, 1) 100%);
    background-image: linear-gradient(135deg, rgba(99, 194, 245, 1) 0%, rgba(38, 158, 222, 1) 100%);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


/******************** Custom blue button ********************/
.btn-blue {
    background-color: #85d4ff;
    padding: 12px 35px;
    color: #fff;
    border-radius: 5px !important;
    box-shadow: 0 3px 6px rgba(38, 158, 222, .3);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.btn-blue:hover {
    box-shadow: 0 10px 20px rgba(38, 158, 222, .3);
}

.btn-blue:active {
    background-color: #63C2F5;
}


/******************** Custom outline blue button ********************/
.btn-outline-blue {
    background: transparent;
    padding: 12px 35px;
    color: #63C2F5;
    border: solid 1px #63C2F5;
    border-radius: 5px !important;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.btn-outline-blue:hover {
    background-color: #63C2F5;
    box-shadow: 0 3px 6px rgba(38, 158, 222, .3);
    color: #fff;
}

.btn-outline-blue:active {
    background-color: #63C2F5;
    color: #fff;
}


/******************** Custom outline white button ********************/
.btn-outline-white {
    background: transparent;
    padding: 12px 35px;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 5px !important;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.btn-outline-white:hover {
    background: #fff;
    color: #63C2F5;
}

.btn-outline-white:active {
    background-color: #eee;
    color: #63C2F5;
}


/******************** custom tag button ********************/
.btn-tag {
    background: #eee;
    padding: 5px 10px;
    color: #A6A6A6;
    border: solid 1px #eee;
    border-radius: 5px !important;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.btn-tag:hover {
    background: #fff;
    color: #bbb;
}

.btn-tag:active {
    background-color: #eee;
    color: #646464;
}


/******************** This section for all html prperty used in blog ********************/
.for-editor * {
    color: #454546;
}

.for-editor img {
    max-width: 100%;
    max-height: auto;
}

.for-editor a {
    display: inline-block;
    color: #63C2F5;
    background-color: #ebebeb;
    padding: 10px 25px;
    margin: 0px 10px;
    border-radius: 5px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.for-editor a:hover {
    background-color: #ccc;
    color: #fff;
}

.for-editor b,
.for-editor strong {
    font-weight: 850;
}

.for-editor blockquote {
    font-size: 1.2em;
    margin: 50px auto;
    font-style: italic;
    color: #555555;
    padding: 1.2em 20px 1.2em 75px;
    border-left: 8px solid #85d4ff;
    line-height: 1.6;
    position: relative;
    background: #eee;
}

.for-editor blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: #85d4ff;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

.for-editor blockquote::after {
    content: '';
}

.for-editor blockquote span {
    display: block;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}


/******************** This section for all html prperty used in blog ********************/
.search-box input {
    border: solid 1px #fff !important;
    border-radius: 5px 0px 0px 5px !important;
}

.search-box input:focus {
    border: solid 1px #85d4ff !important;
}

.search-box button {
    color: #A6A6A6;
}

.search-box button:hover {
    color: #63C2F5;
    box-shadow: none !important;
    border: solid 1px #85d4ff;
}

.search-box button:focus {
    color: #63C2F5;
    box-shadow: none !important;
    border: solid 1px #85d4ff;
}


/******************** This section for sidebar ********************/
.sidebar-section .card {
    padding: 20px;
    margin-bottom: 20px;
}


/******************** This section for blog card ********************/
.card-blog {
    padding: 0px;
}

.card-blog .img-wrapper {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    overflow: hidden;
}

.card-blog .img-wrapper img {
    width: 100% !important;
}

.card-blog img {
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.card-blog-content {
    padding: 10px 15px;
}

.card-blog:hover {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.card-blog:hover .img-wrapper img {
    transform: scale(1.15);
}


/******************** This section for pagination ********************/
.nav-pagination {
    overflow: scroll;
}

.nav-pagination::-webkit-scrollbar {
    display: none;
}

.nav-pagination {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.nav-pagination .pagination li a {
    border: none;
    color: #333333;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 8px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.nav-pagination .pagination li.active a {
    background-color: #bbb;
}

.nav-pagination .pagination li.disabled a {
    opacity: .7;
}